.clientPage{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20px auto auto;
}

.clientPage > div:nth-child(1){
    grid-area:2/2/auto/3 ;
}

.clientPage > div:nth-child(2){
    grid-area:3/2/auto/3;

}

.clientPage > div:nth-child(3){
    grid-area:4/2/auto/3;
}