.nav {
    grid-area: header ;
    float:right;
   }
   main {
    grid-area: main ;
  }
  .layout {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows:50px auto 50px;
    grid-template-areas: 
      "header"
      "main"
      "footer";
  
    
  }