.details{
 display: grid;
 grid-template-columns: 20% 20% 20% 20% 20%;
 border: 2px solid black;
 
}

.details:hover{
    background-color: darkgray;
}
.clientsList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center ;
}

.event{
    background-color: lightskyblue ;
}